################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C# Terminal Project (v.5)/.vs
/C# Terminal Project (v.5)/.vs/Hello World/CopilotIndices/18.4.114.215
